@model IEnumerable<duelfighteronline.Models.CharacterInfo>

@{
    ViewBag.Title = "Characters";
}

<h2>Characters</h2>

<p>
    @Html.ActionLink("Create New Character", "Create", "CharacterCreate")
</p>
<p class="text-danger">
    @TempData["message"]
</p>
<br />
@foreach (var item in Model)
{
    <table style="width:50%">
        <tr>
            <td style="text-align: justify;">
                @Html.DisplayFor(modelItem => item.CharacterName) the @Html.DisplayFor(modelItem => item.CharacterClass)
            </td>
            <td style="text-align: right;">
                @Html.ActionLink("Status", "Edit", new { id = item.ID })  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                @Html.ActionLink("Duel", "Duel", new { id = item.ID }) &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                @Html.ActionLink("Delete(Temp)", "Delete", new { id = item.ID })
            </td>
        </tr>
        <tr></tr>
        <br />
        <br />
        <br />
     </table>
 }


       
